### /Users/yuta/.gitignore-boilerplates/Global/Emacs.gitignore

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# custom
.DS_Store
*~
*.swp
._*
node_modules
release
.sass-cache
